@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>"Laughter is the best click! Explore a world of chuckles and giggles with our jokes web application – where every byte is a bite of humor!"</p>
</div>